<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id="app">
<p @click="clickme">{{num}}</p>
    <input type="text" v-model="shi">
    <input type="text" v-model="ge">
</div>

<script src="js/vue.min.js"></script>
<script>
    new Vue({
        el: "#app",
        data: {
            num:20,
            shi:"",
            ge:"",
        },
        methods: {
            clickme(){
                this.num --;
            }
        },
        watch:{
            num(){
                //代表监听data里面num的值改变
                this.shi = parseInt(this.num / 10);
                this.ge = this.num % 10;
            }
        }
    })
</script>

</body>
</html>