<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id="app">

    <!-- 多个变量的显示依赖于一个变量的变化   -->
    <p @click="lowNum">{{num}}</p>
    <p>十位：{{ parseInt(num/10) }}</p>
    <p>个位：{{num%10}}</p>

    <hr>

    <!--  一个变量的值依赖于多个值 且依赖的任意一个值发生变化 该变量都会改变  -->
    <!-- 通过对多个变量进行监听获取两个变量的值   -->
<!--    十位：<input type="text" v-model="shi">-->
<!--    个位：<input type="text" v-model="ge">-->
    十位：<input type="number" v-model="shi" max="9" min="0">
    个位：<input type="number" v-model="ge" max="9" min="0">
    结果：<b>{{shi*10 + +ge}}</b>
    结果：<b>{{result}}</b>


</div>

<script src="../js/vue.min.js"></script>
<script>
    new Vue({
        el: "#app",
        data: {
            num: 99,
            shi: "",
            ge: "",
            // result: 1,
        },
        methods: {
            lowNum() {
                this.num = this.num - 3;
            },
        },
        // 1. computed用来声明方法属性
        // 2. 声明的方法属性不能在data中重复定义
        // 3. 定义的方法属性必须在页面中渲染使用  才会对内部出现的所有的变量你进行监听  不渲染的则result不生效
        computed: {
            // 定义方法属性
            result() {
                // console.log("11111")
                // console.log(this.shi);
                // console.log(this.ge);
                return this.shi * 10 + +this.ge;
            }
        }
    })
</script>

</body>
</html>